body {
	background-color:  #eed298;
}
.menu {
	position: relative;
    font-size: 19px;
	justify-content: space-between;
	display: flex;
	width: 100%;
	background-color: white;
	border: 1px solid #c4b79c;
	z-index: 1000;
	align-items: center;
}
.logo {
	width: 30%;
	max-width: 50px;
	display: block;
}
.logo img {
	width: 100%;
	position: absolut;
}
.menu a:link, a:visited {
	width: 100px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px;
	font-family: helvetica;
	border-style: hidden;
	cursor: pointer;
	text-align: center;
}
.menu a:hover, a:active {
	background-color: #f5e5c4;
	cursor: pointer;
}
ul {
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	width: 100%;
	font-family: helvetica;
	padding: 5px;
}
li { 
	display: inline-block;
	text-align: center;
	font-family: helvetica;
}
#darktheme {
	margin-right: 100px;
}
.search-container {
	padding: 0;
	display: flex;
	align-items: center;
}
input[type=search] {
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	padding: 4px;
}
#search {
	padding: 5px;
    width: 200px;
}
search.button {
	margin-right: 10px;
    padding: 5px 10px;
}
.basket {
	padding: 15px;
	display: flex;
	margin-right: 10px;
}
.basket img {
	width: 20px;
	height: 20px;
}
.basket {
	padding: 15px;
	display: flex;
	margin-right: 10px;
}
.basket img {
	width: 20px;
	height: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
h1.imbracaminte {
	text-align: center;
	color: black;
	text-shadow: 5px 5px 10px white;
}
h2.mobilier {
	text-align: center;
	color: black;
	text-shadow: 5px 5px 10px white;
}
h3.jucarii {
	text-align: center;
	color: black;
	text-shadow: 5px 5px 10px white;
}
.popuptext {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #aaa;
    z-index: 1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.card {
  flex-basis: calc(33% - 10px);
  box-sizing: border-box;
  transition: all 0.3s;
  margin-right: 10px;
  padding: 30px;
  margin-bottom: 30px;
  background-color: white;
  text-align: center;
}
.card:hover {
  transform: scale(1.1);
}
h1,h2,h3 {
  text-align: center;
  padding: 5px;
  font-size: 25px;
  color: #403828;
}
p {
  text-align: center;
  font-size: 16px;
  color: #403828;
}
p.price {
	text-align: center;
	font-size: 20px;
	color: #403828;
}	
.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.container {
   width: 100%;
   margin: auto;
}
.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer {
	padding: 100px;
	background-color: #d6bd88;
	margin-top: 80px;
}
.footer-col h4, .footer-col h5 {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-right: 0;
}
.footer-col {
	width: 30%;
	padding: 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-col ul {
    list-style-type: none; 
    padding-left: 0;
    text-align: center;
}
.footer-col ul li a {
    text-decoration: none;
    display: inline-block;
    font-family: helvetica;
    font-size: 15px;
    padding: 10px;
}
.footer-col ul li a:hover {
    padding-left: 12px;
}
.footer p {
	text-align: center;
	font-size: 10px;
}